<app-header></app-header>
<div class="take-photos-pages">
    <div class="carBox">
        <img src="assets/img/car.jpg" alt="">
    </div>
    <button [routerLink]="['/photos-gallery']" class="btn fix">Сделать фотографию</button>
</div>
