<app-header></app-header>
<div class="photo-pages">
    <p class="flexText">Пройдите проверку<br> своего автомобля<br> перед началом смены</p>
    <button [routerLink]="['/take-photos']" class="btn fix">Начать</button>
</div>
