<app-header></app-header>
<div class="blockIn">
    <div class="galleryImg">
        <img src="assets/img/car.jpg" alt="">
        <img src="assets/img/man.svg" alt="">
        <img src="assets/img/car.jpg" alt="">
        <img src="assets/img/car.jpg" alt="">
        <img src="assets/img/car.jpg" alt="">
    </div>
</div>
<button class="btn fix">Отправить</button>
