<app-header></app-header>

<div class="chatBox-wrap">
    <div class="chatBox">
        <div class="scroll">
            <p class="chatBox__data">15.12.2019</p>
            <div class="letter-l">test test test test test test</div>
            <div class="letter-r">test test test test test test</div>
            <p class="chatBox__data">16.12.2019</p>
            <div class="letter-r">test test test test test test</div>
            <div class="letter-r">test test test test test testtest test test test test testtest test test test test
                testtest test test test test testtest test test test test testtest test test test test testtest test
                test test test test
            </div>
        </div>
    </div>
    <div class="chatEnter">
        <textarea rows="1" id="txt" placeholder="Ваше сообщение"></textarea>
        <button></button>
    </div>
</div>
