
    <div class="click_img searche_black" [routerLink]="['/history']">
      История
    </div>
    <div class="click_img searche_black" [routerLink]="['/balance']" >
      Баланс
    </div>

    <div class="click_img massege_black" [routerLink]="['/help']" >
      Поддержка
    </div>
    <div class="click_img profile_black" [routerLink]="['/profile']" >
      Профиль
    </div>


