<app-header></app-header>
<div class="btnLine-menu">
    <a [routerLink]="['/information-about']" class="btnLine">О приложении</a>
    <a [routerLink]="['/information-license']" class="btnLine">Лицензионное соглашение</a>
    <a [routerLink]="['/information-privacy-policy']" class="btnLine">Политика конфиденциальности</a>
</div>
