<div class="header">
  <div class="row">
    <div class="flex">
      <div class="left-h" >
        <a *ngIf="menu" [routerLink]="['/menu']" class="burger"></a>
        <a *ngIf="!menu" (click)="cancel();" class="arrBtn"></a>
      </div>

      <div class="center-h">
        <div class="title-h" *ngIf="name!=''">{{name}}</div>
        <div class="title-h" *ngIf="name==''">{{dataService.user.online?'Online':'Offline'}}</div>
      </div>
      <div class="right-h">
        <div class="checkbox-item" *ngIf="name==''" [ngClass]="{'active':dataService.user.online}">
          <div class="checkbox-sl" >
            <input [disabled]="oS.Order?true:false" [checked]="dataService.user.online" (click)="setStatusOnline()">
            <label [ngStyle]="oS.Order?{'background-color':oS.Order?'red':'green'}:null"><span></span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


