<app-header></app-header>
<div class="blockIn">
    <div class="btnLine-menu">
        <a [routerLink]="['/profile']" class="btnLine">Водитель</a>
        <a [routerLink]="['/car']" class="btnLine">Автомобиль</a>
        <a [routerLink]="['/condition']" class="btnLine">Условия</a>
    </div>
</div>
<button class="btn fix">Заполнить</button>


