.modal_opacity{
  position: absolute;
  height: 100%;
  width: 100%;
/* display: block; */
  z-index: 50;
/* border: 1px solid rebeccapurple; */
  background-color: black;
  opacity: 0.5;
}
.modal_popap{
  position: fixed;
  z-index: 999;
  min-height: 30%;

  margin: 20% 5% 20% 5%;
  background-color: #000000;
  width: 80%;
  padding: 15px;
}
.modal_popap h1{
  text-align: center;
  color: #f3e55a;
}
.unsubscribe_text{
  text-align: center;



}
.unsubscribe_text button{
  font-size: 27px;
}
