<div class="modal_opacity"></div>
<div  >

  <div class="modal_popap" style="border: 1px solid red;color: white">
    <div class="wrapper">
      <div class="content">
        <h1 >Новый заказ</h1>


        <div  style="text-align: left" *ngIf="oS.Order">
          <p>
            {{getAddress(oS.Order.path[0].address)}}
          </p>
          <p>
            {{getAddress(oS.Order.path[1].address)}}
          </p>
          <p>
            сумма {{oS.Order.priceStart}} руб.
          </p>
          <p>
            расстояние {{oS.Order.length/1000}} км.
          </p>

        </div>
      </div>
      <div class="footer">
        <div class="unsubscribe_text">
          <button style="width: 50%;height:100px" (click)="oS.cencelOrder()">Отмена</button>
          <button style="width: 50%;height:100px" (click)="oS.applyOrder()" >Принять</button>
        </div>
      </div>
    </div>







  </div>

</div>
