
<footer>
    <div class="footer_weble">
        <div class="click_img weble_black active">
            <div class="weble_img"></div>
        </div>
        <div class="click_img searche_black">
            <div class="searche_img"></div>
        </div>
        <div class="news_feed_img"></div>
        <div class="click_img massege_black">
            <div class="massege_img "></div>
        </div>
        <div class="click_img profile_black">
            <div class="my_page_img"></div>
        </div>
    </div>
</footer>
<div class="settings_modal">
    <div class="row">
        <div class="create_post_top center_edges m_b_0">
            <div class="create_post_top_left left_centr ">
                <span class="arrow_exit"></span>
                <div class="arrow_exit_text">Настройки</div>
            </div>
        </div>
        <div class="settings_accounts">
            <div class="accounts_item anti_row center_edges">
                <div class="post_top_left">
                    <div class="post_icon_setting">
                        <img src="/assets/img/men_classic.jpg" alt="">
                    </div>
                    <div class="post_settings_text">
                        <div class="pers_name_text">
                            avergoal
                        </div>
                        <div class="my_accounts">
                            <p>Аккаунты</p>
                        </div>
                    </div>
                </div>
                <div class="tick_course"></div>
            </div>
        </div>
        <div class="settings_line left_centr">ОСНОВНЫЕ</div>
        <div class="settings_background">
            <div class="settings_personal">
                <div class="accounts_item anti_row center_edges height56">
                    <div class="post_top_left">
                        <div class="personal_icon ic mr16px"></div>
                        <div class="settings_text">Личные данные</div>
                    </div>
                    <div class="tick_course transform_arrow"></div>
                </div>
            </div>
            <div class="settings_notification">
                <div class="accounts_item anti_row center_edges height56">
                    <div class="post_top_left">
                        <div class="notification_icon ic mr16px"></div>
                        <div class="settings_text">Уведомления</div>
                    </div>
                    <div class="tick_course transform_arrow"></div>
                </div>
            </div>
            <div class="settings_view">
                <div class="accounts_item anti_row center_edges height56">
                    <div class="post_top_left">
                        <div class="tile_icon ic mr16px"></div>
                        <div class="settings_text">Вид ленты по умолчанию</div>
                    </div>
                    <div class="gray_bar_right">
                        <div class="two_rectangles"></div>
                        <div class="miniatures_tabs">
                            <div class="miniatures_tabs_add"></div>
                        </div>
                        <div class="text_tabs"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings_line left_centr">О ПРИЛОЖЕНИИ</div>
        <div class="settings_background">
            <div class="settings_agreement">
                <div class="accounts_item anti_row center_edges height56">
                    <div class="post_top_left">
                        <div class="agreement_icon ic mr16px"></div>
                        <div class="settings_text">Соглашение пользователя</div>
                    </div>
                    <div class="tick_course transform_arrow"></div>
                </div>
            </div>
            <div class="settings_help">
                <div class="accounts_item anti_row center_edges height56">
                    <div class="post_top_left">
                        <div class="help_icon ic mr16px"></div>
                        <div class="settings_text">Помощь</div>
                    </div>
                    <div class="tick_course transform_arrow"></div>
                </div>
            </div>
            <div class="settings_messages">
                <div class="accounts_item anti_row center_edges height56">
                    <div class="post_top_left">
                        <div class="messages_icon ic mr16px"></div>
                        <div class="settings_text">Сообщить об ошибке</div>
                    </div>
                    <div class="tick_course transform_arrow"></div>
                </div>
            </div>
        </div>
        <div class="settings_line left_centr version">Версия: 0.1.2.34</div>
    </div>
</div>
<div class="settings_push_modal">
    <form action="#">
        <div class="tabs">
            <div class="shadow_box">
                <div class="row">
                    <div class="create_post_top center_edges m_b_0">
                        <div class="create_post_top_left left_centr ">
                            <span class="arrow_exit"></span>
                            <div class="arrow_exit_text">Уведомления</div>
                            <div class="pushbutton_user_data">
                                <input class="confirm_user_data" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__caption">
                    <div class="pasiv active">Push</div>
                    <div class="pasiv">E-mail</div>
                </div>
            </div>
            <div class="tabs__content active">
                <div class="row">
                    <div class="push_block anti_row">
                        <div class="push_block_h">
                            <h3>Отметки «Нравится» и «Не нравится»</h3>
                        </div>
                        <label class="radio_push left_centr">
                            <input type="radio" name="like_dislike"/>
                            <div class="push_text">Выключить</div>
                        </label>

                        <label class="radio_push left_centr">
                            <input type="radio" name="like_dislike"/>
                            <div class="push_text">От людей, на которых я подписан</div>
                        </label>
                        <label class="radio_push left_centr">
                            <input type="radio" name="like_dislike"/>
                            <div class="push_text">От всех</div>
                        </label>

                    </div>
                    <div class="push_block anti_row">
                        <div class="push_block_h">
                            <h3>Комментарии</h3>
                        </div>
                        <label class="radio_push left_centr">
                            <input type="radio" name="comment_push"/>
                            <div class="push_text">Выключить</div>
                        </label>

                        <label class="radio_push left_centr">
                            <input type="radio" name="comment_push"/>
                            <div class="push_text">От людей, на которых я подписан</div>
                        </label>
                        <label class="radio_push left_centr">
                            <input type="radio" name="comment_push"/>
                            <div class="push_text">От всех</div>
                        </label>

                    </div>
                    <div class="push_block anti_row">
                        <div class="push_block_h">
                            <h3>Новые подписчикии</h3>
                        </div>
                        <label class="radio_push left_centr">
                            <input type="radio" name="new_subscribers"/>
                            <div class="push_text">Выключить</div>
                        </label>
                        <label class="radio_push left_centr">
                            <input type="radio" name="new_subscribers"/>
                            <div class="push_text">От всех</div>
                        </label>
                    </div>
                    <div class="push_block anti_row">
                        <div class="push_block_h">
                            <h3>Принятые запросы на подписку</h3>
                        </div>
                        <label class="radio_push left_centr">
                            <input type="radio" name="new_requests"/>
                            <div class="push_text">Выключить</div>
                        </label>
                        <label class="radio_push left_centr">
                            <input type="radio" name="new_requests"/>
                            <div class="push_text">От всех</div>
                        </label>
                    </div>
                    <div class="push_block anti_row">
                        <div class="push_block_h">
                            <h3>Новые сообщения</h3>
                        </div>
                        <label class="radio_push left_centr">
                            <input type="radio" name="new_message"/>
                            <div class="push_text">Выключить</div>
                        </label>
                        <label class="radio_push left_centr">
                            <input type="radio" name="new_message"/>
                            <div class="push_text">От всех</div>
                        </label>
                    </div>
                    <div class="push_block anti_row">
                        <div class="push_block_h">
                            <h3>Реклама</h3>
                        </div>
                        <label class="radio_push left_centr">
                            <input type="radio" name="advertising_push"/>
                            <div class="push_text">Выключить</div>
                        </label>
                        <label class="radio_push left_centr">
                            <input type="radio" name="advertising_push"/>
                            <div class="push_text">Включить</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="tabs__content">
                <div class="push_checkbox_block">
                    <div class="row">
                        <label class="checkbox_push left_centr">
                            <input type="checkbox"/>
                            <div class="checkbox__text">Письма с обратной связью</div>
                        </label>
                        <label class="checkbox_push left_centr">
                            <input type="checkbox"/>
                            <div class="checkbox__text">Письма с напоминаниями</div>
                        </label>
                        <label class="checkbox_push left_centr">
                            <input type="checkbox"/>
                            <div class="checkbox__text">Письма с новостями</div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="types_posts_choice">
    <div class="view_modal_shadow"></div>
    <div class="view_modal">
        <div class="row">
            <div class="the_choice">
                <div class="main_type_posts view_classic">
                    <div class="type_posts">
                        <div class="two_rectangles m_r_25"></div>
                        <div class="classic_text">Классический</div>
                    </div>
                    <div class="tick_type_png"></div>
                </div>
                <div class="main_type_posts view_miniatures">
                    <div class="type_posts">
                        <div class="miniatures_tabs m_r_25">
                            <div class="miniatures_tabs_add"></div>
                        </div>
                        <div class="miniatures_text">Миниатюры</div>
                    </div>
                    <div class="tick_type_png"></div>
                </div>
                <div class="main_type_posts view_text">
                    <div class="type_posts">
                        <div class="text_tabs m_r_25"></div>
                        <div class="tex_text">Текст</div>
                    </div>
                    <div class="tick_type_png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal_create">
    <div class="row">
        <div class="create_post">
            <form action="#">
                <div class="create_post_top center_edges">
                    <div class="create_post_top_left left_centr">
                        <div class="arrow_exit"></div>
                        <div class="arrow_exit_text">Создать пост</div>
                    </div>
                </div>
                <div class="create_post_middle">

                    <div class="pushbutton_create">
                        <input class="confirm_create" type="submit">
                    </div>
                    <div class="entry_heading anti_row">
                        <p class="initial_heading">Заголовок</p>

                        <input class="heading_post" type="text" placeholder="Заголовок">
                    </div>
                    <div class="entry_text anti_row">
                        <p class="initial_text">Введите текст поста и/или ссылку</p>

                        <textarea class="text_post" type="text"
                                  placeholder="Введите текст поста и/или ссылку"></textarea>
                    </div>

                </div>
                <div class="create_post_bottom">
                    <div class="create_post_photo">
                        <div class="create_post_replacement left_centr">
                            <div class="create_post_plus"></div>
                            <div class="create_post_text">Добавить фото или видео</div>
                        </div>
                        <div class="create_post_added">
                            <div class="added_img">
                                <div class="plus_added ic"></div>

                            </div>
                            <div class="added_gallery">
                                <div class="added_gallery_img">
                                    <img src="/assets/img/1.jpg" alt="#">
                                </div>
                                <div class="opacity_mini_pic"></div>
                            </div>
                            <div class="added_gallery">
                                <div class="added_gallery_img">
                                    <img src="/assets/img/dom.jpg" alt="#">
                                </div>
                                <div class="opacity_mini_pic"></div>
                            </div>
                        </div>
                    </div>
                    <div class="create_post_hashtag">
                        <input type="text" placeholder="# тэги">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="create_photo_modal">
    <div class="ways_creation_img">
        <div class="gallery_click">
            <div class="manage_pictures">
                <div class="selection_pictures slider_bottom_img">
                    <div class="selection_pictures_img ic"></div>
                </div>
                <div class="selection_pictures mt16px">
                    <div class="increase_img ic"></div>
                </div>
            </div>
            <form action="#">
                <div class="row">
                    <div class="create_post_top center_edges m_b_0">
                        <div class="create_post_top_left left_centr">
                            <div class="cross_exit"></div>
                            <div class="gallery_list center_edges">
                                <div class="arrow_exit_text ">Галерея</div>
                                <span class="tick_course"></span>
                            </div>
                        </div>
                        <div class="send_gallery_post">
                            <input class="tick_gallery" type="submit">
                        </div>
                    </div>
                </div>
                <div class="passage_bottom">
                    <p>
                        <img id="largeImg" class="general_img" src="/assets/img/img2-lg.jpg"
                             alt="Large image">
                    </p>

                    <div id="thumbs">
                        <!-- При наведении на изображение показывается встроенная подсказка браузера (title) -->
                        <div class="img_checkbox_style">
                            <div class="selection_slider_number">
                                <input id="gl" class="checkbox" type="checkbox"
                                       name="checkbox-test">
                                <label for="gl" class="image_styling">
                                                    <span class="checkbox-custom column_centr">
                                                        <span class="checkbox-text">1</span>
                                                    </span>
                                    <span class="label"></span>
                                </label>
                            </div>
                            <div class="img_opacity">
                                <a class="click_opacity active" href="/assets/img/img2-lg.jpg"
                                   title="Image 2">
                                    <img src="/assets/img/img2-lg.jpg">
                                </a>
                            </div>
                        </div>


                        <div class="img_checkbox_style">
                            <div class="selection_slider_number">
                                <input id="2" class="checkbox" type="checkbox" name="checkbox-test">
                                <label for="2" class="image_styling">
                                                    <span class="checkbox-custom column_centr">
                                                        <span class="checkbox-text">2</span>
                                                    </span>
                                    <span class="label"></span>
                                </label>
                            </div>
                            <div class="img_opacity">
                                <a class="click_opacity" href="/assets/img/img3-lg.jpg"
                                   title="Image 3">
                                    <img src="/assets/img/img3-lg.jpg">>
                                </a>
                            </div>
                        </div>


                        <div class="img_checkbox_style">
                            <div class="selection_slider_number">
                                <input id="3" class="checkbox" type="checkbox" name="checkbox-test">
                                <label for="3" class="image_styling">
                                                    <span class="checkbox-custom column_centr">
                                                        <span class="checkbox-text">3</span>
                                                    </span>
                                    <span class="label"></span>
                                </label>
                            </div>
                            <div class="img_opacity">
                                <a class="click_opacity" href="/assets/img/img4-lg.jpg"
                                   title="Image 4">
                                    <img src="/assets/img/img4-lg.jpg">
                                </a>
                            </div>
                        </div>


                        <div class="img_checkbox_style">
                            <div class="selection_slider_number">
                                <input id="4" class="checkbox" type="checkbox" name="checkbox-test">
                                <label for="4" class="image_styling">
                                                    <span class="checkbox-custom column_centr">
                                                        <span class="checkbox-text">4</span>
                                                    </span>
                                    <span class="label"></span>
                                </label>
                            </div>
                            <div class="img_opacity">
                                <a class="click_opacity" href="/assets/img/img5-lg.jpg"
                                   title="Image 5">
                                    <img src="/assets/img/img5-lg.jpg">
                                </a>
                            </div>
                        </div>


                        <div class="img_checkbox_style">
                            <div class="selection_slider_number">
                                <input id="5" class="checkbox" type="checkbox" name="checkbox-test">
                                <label for="5" class="image_styling">
                                                    <span class="checkbox-custom column_centr">
                                                        <span class="checkbox-text">5</span>
                                                    </span>
                                    <span class="label"></span>
                                </label>
                            </div>
                            <div class="img_opacity">
                                <a class="click_opacity" href="/assets/img/img6-lg.jpg"
                                   title="Image 6">
                                    <img src="/assets/img/img6-lg.jpg">
                                </a>
                            </div>
                        </div>


                    </div>

                </div>

            </form>
        </div>
    </div>
    <div class="ways_creation_img active">
        <div class="row">
            <div class="create_post_top center_edges m_b_0">
                <div class="create_post_top_left left_centr">
                    <div class="cross_exit"></div>
                    <div class="arrow_exit_text">Фото</div>
                </div>
            </div>
        </div>
        <div class="the_camera"></div>
        <div class="camera_control center_edges">
            <div class="front_camera">
                <div class="front_img"></div>
            </div>
            <div class="enable_button">
                <div class="enable_button_white"></div>
            </div>
            <div class="front_camera">
                <div class="flash_img"></div>
            </div>
        </div>
    </div>
    <div class="ways_creation_img">
        <div class="row">
            <div class="create_post_top center_edges m_b_0">
                <div class="create_post_top_left left_centr">
                    <div class="cross_exit"></div>
                    <div class="arrow_exit_text">Видео</div>
                </div>
            </div>
        </div>
        <div class="the_camera"></div>
        <div class="camera_control center_edges">
            <div class="front_camera">
                <div class="front_img"></div>
            </div>
            <div class="enable_button">
                <div class="enable_button_white"></div>
                <div class="enable_button_red"></div>
            </div>
            <div class="front_camera">
                <div class="flash_img"></div>
            </div>
        </div>
    </div>

    <div class="creation_img_caption center_edges">
        <div class="creation_img column_centr passage_black">
            <div class="passage_icon"></div>
            <div class="photo_text">Галерея</div>
        </div>
        <div class="creation_img column_centr photo_black active">
            <div class="photo_icon"></div>
            <div class="photo_text">Фото</div>
        </div>
        <div class="creation_img column_centr video_black">
            <div class="video_icon"></div>
            <div class="photo_text">Видео</div>
        </div>
    </div>
</div>
<div class="my_subscribers_modal">
    <div class="row">
        <div class="create_post_top center_edges m_b_0">
            <div class="create_post_top_left left_centr ">
                <span class="arrow_exit"></span>
                <div class="arrow_exit_text">Подписчики</div>
            </div>
        </div>
        <div class="search_group_perent anti_row left_centr active">
            <div class="search_group left_centr">
                <div class="search_img_perents">
                    <input class="search_img" type="submit">
                </div>

                <div class="entry_search_perent">
                    <input class="entry_search" placeholder="Поиск" type="text">
                </div>
            </div>
        </div>
        <div class="center_edges">
            <div class="found_option left_centr">
                <div class="post_icon_setting">
                    <img src="/assets/img/men_classic.jpg" alt="">
                </div>
                <div class="found_text">
                    <div class="find_name">
                        <p>Дмитрий Иванов</p>
                    </div>
                    <div class="find_number">
                        <p>15 мин. назад</p>
                    </div>
                </div>
                <a class="found_option_link" href="foreign_page.php"></a>
            </div>
            <div class="subscription_unsubscribe"></div>
        </div>
        <div class="center_edges">
            <div class="found_option left_centr">
                <div class="post_icon_setting">
                    <img src="/assets/img/men_classic.jpg" alt="">
                </div>
                <div class="found_text">
                    <div class="find_name">
                        <p>Дмитрий Иванов</p>
                    </div>
                    <div class="find_number">
                        <p>15 мин. назад</p>
                    </div>
                </div>
                <a class="found_option_link" href="foreign_page.php"></a>
            </div>
            <div class="subscription_unsubscribe"></div>
        </div>
    </div>
</div>
<div class="my_subscriptions_modal">
    <div class="tabs">
        <div class="shadow_box">
            <div class="row">
                <div class="create_post_top center_edges m_b_0">
                    <div class="create_post_top_left left_centr ">
                        <span class="arrow_exit"></span>
                        <div class="arrow_exit_text">Подписки</div>
                    </div>
                </div>
            </div>
            <div class="tabs__caption">
                <div class="pasiv active">Люди</div>
                <div class="pasiv">Хештеги</div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="search_group_perent anti_row left_centr active">
                    <div class="search_group left_centr">
                        <div class="search_img_perents">
                            <input class="search_img" type="submit">
                        </div>

                        <div class="entry_search_perent">
                            <input class="entry_search" placeholder="Поиск" type="text">
                        </div>
                    </div>
                </div>
                <div class="tabs__content active">
                    <div class="center_edges">
                        <div class="found_option left_centr">
                            <div class="post_icon_setting">
                                <img src="/assets/img/men_classic.jpg" alt="">
                            </div>
                            <div class="found_text">
                                <div class="find_name">
                                    <p>Дмитрий Иванов</p>
                                </div>
                            </div>
                            <a class="found_option_link" href="foreign_page.php"></a>
                        </div>
                        <div class="subscription_unsubscribe news_subscribed"></div>
                    </div>
                    <div class="center_edges">
                        <div class="found_option left_centr">
                            <div class="post_icon_setting">
                                <img src="/assets/img/men_classic.jpg" alt="">
                            </div>
                            <div class="found_text">
                                <div class="find_name">
                                    <p>Дмитрий Иванов</p>
                                </div>
                            </div>
                            <a class="found_option_link" href="foreign_page.php"></a>
                        </div>
                        <div class="subscription_unsubscribe none_subscribed"></div>
                    </div>
                </div>
                <div class="tabs__content">
                    <div class="center_edges">
                        <div class="found_option left_centr">
                            <div class="post_icon_setting">
                                <img src="/assets/img/men_classic.jpg" alt="">
                            </div>
                            <div class="found_text">
                                <div class="find_name">
                                    <p>Дмитрий Иванов</p>
                                </div>
                            </div>
                            <a class="found_option_link" href="#"></a>
                        </div>
                        <div class="subscription_unsubscribe"></div>
                    </div>
                    <div class="center_edges">
                        <div class="found_option left_centr">
                            <div class="post_icon_setting">
                                <img src="/assets/img/men_classic.jpg" alt="">
                            </div>
                            <div class="found_text">
                                <div class="find_name">
                                    <p>Дмитрий Иванов</p>
                                </div>
                            </div>
                            <a class="found_option_link" href="#"></a>
                        </div>
                        <div class="subscription_unsubscribe"></div>
                    </div>
                    <div class="settings_line left_centr anti_row">РЕКОМЕНДАЦИИ</div>
                    <div class="center_edges">
                        <div class="found_option left_centr">
                            <div class="post_icon_setting">
                                <img src="/assets/img/men_classic.jpg" alt="">
                            </div>
                            <div class="found_text">
                                <div class="find_name">
                                    <p>Дмитрий Иванов</p>
                                </div>
                            </div>
                            <a class="found_option_link" href="#"></a>
                        </div>
                        <div class="subscription_unsubscribe"></div>
                    </div>
                    <div class="center_edges">
                        <div class="found_option left_centr">
                            <div class="post_icon_setting">
                                <img src="/assets/img/men_classic.jpg" alt="">
                            </div>
                            <div class="found_text">
                                <div class="find_name">
                                    <p>Дмитрий Иванов</p>
                                </div>
                            </div>
                            <a class="found_option_link" href="#"></a>
                        </div>
                        <div class="subscription_unsubscribe"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="message_dialog">
    <div class="row">
        <form action="#">
            <div class="create_post_top center_edges m_b_0">
                <div class="create_post_top_left left_centr ">
                    <span class="arrow_exit"></span>
                    <div class="foreing_page">
                        <div class="left_centr">
                            <div class="interlocutor_icon">
                                <img src="/assets/img/women.jpg" alt="">
                            </div>
                            <div class="interlocutor_message"><p>Светлана Иванова</p></div>
                            <a class="foreign_page_linc" href="foreign_page.php"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog_block anti_row">
                <div class="date_communication column_centr"><p>12 июля 2017, 18:35</p></div>
                <div class="response_interlocutor bottom_left">
                    <div class="interlocutor_icon">
                        <img src="/assets/img/women.jpg" alt="">
                    </div>
                    <div class="message_field"><p>Привет!</p></div>
                </div>
                <div class="response_interlocutor my_interlocutor">
                    <div class="message_field"><p>Привет!</p></div>
                </div>
                <div class="response_interlocutor bottom_left">
                    <div class="interlocutor_icon">
                        <img src="/assets/img/women.jpg" alt="">
                    </div>
                    <div class="message_field"><p>Все отлично, спасибо!
                        Видела твой пост последний. Ты сам-то завтра идешь на тусу?</p>
                    </div>
                </div>
                <div class="response_interlocutor my_interlocutor">
                    <div class="message_field"><p>Обязательно!</p></div>
                </div>
                <div class="response_interlocutor bottom_left">
                    <div class="interlocutor_icon">
                        <img src="/assets/img/women.jpg" alt="">
                    </div>
                    <div class="message_field"><p>Значит там и увидимся.
                        До завтра!</p></div>
                </div>
                <div class="date_communication column_centr"><p>12 июля 2017, 18:35</p>
                </div>
                <div class="response_interlocutor bottom_left">
                    <div class="interlocutor_icon">
                        <img src="/assets/img/women.jpg" alt="">
                    </div>
                    <div class="message_field"><p>Привет!</p></div>
                </div>
                <div class="response_interlocutor my_interlocutor">
                    <div class="message_field"><p>Привет!</p></div>
                </div>
                <div class="response_interlocutor response_interlocutor bottom_left">
                    <div class="interlocutor_icon">
                        <img src="/assets/img/women.jpg" alt="">
                    </div>
                    <div class="message_field"><p>Все отлично, спасибо!
                        Видела твой пост последний. Ты сам-то завтра идешь на тусу?</p>
                    </div>
                </div>
                <div class="response_interlocutor my_interlocutor">
                    <div class="message_field"><p>Обязательно!</p></div>
                </div>
                <div class="response_interlocutor response_interlocutor bottom_left">
                    <div class="interlocutor_icon">
                        <img src="/assets/img/women.jpg" alt="">
                    </div>
                    <div class="message_field"><p>Значит там и увидимся.
                        До завтра!</p></div>
                </div>
            </div>
            <div class="writing_message anti_row">
                <div class="attach_img"></div>

                <textarea name="text" class="textarea_messages" type="text"
                          placeholder="Напишите сообщение"></textarea>
                <div class="send_message_perent">
                    <input class="send_message" type="submit" value="Отправить">
                </div>
            </div>
            <div class="keyboard column_centr">Клавиатура</div>
        </form>
    </div>

</div>
<div class="subscribe_modal">
    <div class="unsubscribe_opacity"></div>
    <div class="unsubscribe_block column_centr">
        <div class="pers_img">
            <img src="/assets/img/men_classic.jpg" alt="">
        </div>
        <div class="unsubscribe_name">Дмитрий Иванов</div>
        <div class="unsubscribe_text">
            <p>Подписаться
                на уведомления?</p>
        </div>
        <div class="unsubscribe_bottom center_edges">
            <div class="unsubscribe_posit column_centr unsubscribe_undo">Отмена</div>
            <div class="unsubscribe_posit column_centr subscribe_tab">Подписаться</div>

        </div>
    </div>


</div>
<div class="acc_select_modal">
    <div class="acc_select_opacity"></div>
    <div class="acc_select_block">
        <div class="row">
            <div class="add_line_accaunt anti_row">
                <div class="line_accaunt center_edges">

                    <div class="form-row center_edges">

                        <input type="radio" checked="checked" class="radio_acc" id="radio" name="acc_choice"/>

                        <label for="radio">
                                                <span class="post_top_left">
                                                    <span class="post_icon">
                                                        <img src="/assets/img/men_classic.jpg" alt="">
                                                    </span>
                                                    <span class="name_acc">averoal</span>
                                                </span>
                        </label>
                    </div>
                </div>
                <div class="line_accaunt center_edges">

                    <div class="form-row center_edges">

                        <input type="radio" class="radio_acc" id="radio2"
                               name="acc_choice"/>

                        <label for="radio2">
                                                <span class="post_top_left">
                                                    <span class="post_icon">
                                                        <img src="/assets/img/men_classic.jpg" alt="">
                                                    </span>
                                                    <span class="name_acc">averoal</span>
                                                </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="create_accaunt left_centr">
                <div class="acc_create_img ic"></div>
                <div class="acc_create_text">
                    Добавить аккаунт
                </div>

            </div>

        </div>
    </div>

</div>
<div class="user_data_modal">
    <div class="row">
        <form action="#">
            <div class="create_post_top center_edges m_b_0">
                <div class="create_post_top_left left_centr ">
                    <span class="arrow_exit"></span>
                    <div class="arrow_exit_text">Личные данные</div>
                    <div class="pushbutton_user_data">
                        <input class="confirm_user_data" type="submit">
                    </div>
                </div>
            </div>
            <div class="avatar_block anti_row column_centr">
                <div class="pers_img m_b_0  column_centr">
                    <img src="/assets/img/men_classic.jpg" alt="">
                    <div class="add_avatar"></div>
                    <div class="add_plus"></div>
                </div>
            </div>
            <div class="settings_line left_centr">ЛИЧНЫЕ ДАННЫЕ</div>
            <div class="settings_background anti_row">
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">Имя</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="text" placeholder="Имя">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sex_h3">
                    <h3>Пол</h3>
                </div>
                <div class="radio_sex left_centr">
                    <input type="radio" class="sex_selection" name="men_women" id="men"/>
                    <label class="mr60" for="men">Мужской</label>
                    <input type="radio" class="sex_selection" name="men_women" id="women"/>
                    <label for="women">Женский</label>


                </div>
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">О себе</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="text" placeholder="О себе">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">Веб-сайт</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="text"
                                       placeholder="Веб-сайт">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">E-mail</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="text" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">Телефон</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="text" placeholder="Телефон">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings_line left_centr">ЛИЧНЫЕ ДАННЫЕ</div>

            <div class="settings_background anti_row">
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">Текущий пароль</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="password"
                                       placeholder="Текущий пароль">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">Новый пароль</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="password"
                                       placeholder="Новый пароль">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry_user">
                    <div class="size_entry column_left">
                        <div class="user_name">
                            <p class="user_name_text">Повторите новый пароль</p>
                        </div>
                        <div class="entry_name">
                            <div class="settings_name">
                                <input class="input_name" type="password"
                                       placeholder="Повторите новый пароль">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exit_account column_centr">
                <div class="exit_acc_text">
                    Выйти из аккаунта
                </div>
            </div>
        </form>
    </div>


</div>
<div class="unsubscribe_modal">
    <div class="unsubscribe_opacity"></div>
    <div class="unsubscribe_block column_centr">
        <div class="pers_img">
            <img src="/assets/img/men_classic.jpg" alt="">
        </div>
        <div class="unsubscribe_name">Дмитрий Иванов</div>
        <div class="unsubscribe_text">
            <p>Отказаться от подписки
                на уведомления?</p>
        </div>
        <div class="unsubscribe_bottom center_edges">
            <div class="unsubscribe_posit column_centr unsubscribe_undo">Отмена</div>
            <div class="unsubscribe_posit column_centr unsubscribe_tab">Отписаться</div>

        </div>
    </div>


</div>
<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/slick.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>