<app-header></app-header>
<div class="blockIn">
    <div class="row">
        <div class="order-h">
            <p class="minText">Заказ принят 05.02.2019 в 10:05 test test test test test test test test test test</p>
            <p class="title center">1200 руб.</p>
        </div>
        <div class="order-c">
            <div>
                <p class="minText">Расстояние</p>
                <p class="minText">3 км</p>
            </div>

            <div class="tripDetail">
                <div class="tripDetail-item">
                    <div class="tripDetail-l">
                        <p class="text">Центральная площадь </p>
                        <p class="minText">Пушкинская, 221 парковка у ЦУМа</p>
                    </div>
                    <div class="tripDetail-r">
                        <p class="text">700 руб. /час</p>
                        <p class="minText">наличными</p>
                    </div>
                </div>
                <div class="tripDetail-item">
                    <div class="tripDetail-l">
                        <p class="text">Вадима Сивкова, 45</p>
                    </div>
                    <div class="tripDetail-r">
                        <p class="text grey"><span>500 руб.</span> за каждый последующий час </p>
                    </div>
                </div>
            </div>
            <div class="labelEl-wrap">
                <div class="labelEl">Сейчас</div>
                <div class="labelEl">По счету</div>
                <div class="labelEl">Обычный заказ</div>
            </div>
            <div class="accordionEl">
                <input id="ac" type="checkbox" class="accordionEl__btn">
                <label for="ac">Пожелания к заказу</label>
                <div class="accordionEl-c">
                    <button class="btn clean">Сообщение</button>
                    <button class="btn clean">Позвонить</button>
                    <button class="btn clean">Отменить</button>
                </div>
            </div>
        </div>


    </div>
</div>
<button class="btn fix">Закрыть</button>