.btn{
  background-color: $yellowe;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-family: $f3;
  text-align: center;
  color: $black;
  padding: 18px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  transition: $time;
  &.clean{
    font-size: 12px;
    font-family: $f1;
    border: 1px solid $grey3;
    padding: 18px 10px;
  }
  &.min{
    padding: 22px 25px;
    line-height: 1;
  }
  &:hover{
    background-color: $yellowe2;
  }
  &.clean{
    background-color: transparent;
    &:hover{
      opacity: 0.8;
    }
  }
  &.black{
    background-color: #000;
    &:hover{
      background-color: $black;
    }
  }
  &.grey{
    background-color: $grey2;
    &:hover{
      background-color: $grey3;
    }
  }
  svg{
    display: block;
  }

  &.w100{
    width: 100%;
  }
  &.fix {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  &.grey{
    background-color: $grey;
  }
}
.arrBtn{
  width: 20px;
  height: 20px;
  background-image: url("assets/img/arrow-yellowe.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.burger{
  width: 24px;
  height: 16px;
  border-top: 2px solid $yellowe;
  border-bottom: 2px solid $yellowe;
  position: relative;
  display: block;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    display: block;
    background-color: $yellowe;
  }
}
