.carousel {
  position: relative;
  input[type='radio'] {
    display: none;
  }
  .item {
    width: 100%;
    height: 100vh;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
  }
  #sl1:checked ~ .carouselBox .item-1,
  #sl2:checked ~ .carouselBox .item-2,
  #sl3:checked ~ .carouselBox .item-3,
  #sl4:checked ~ .carouselBox .item-4,
  #sl5:checked ~ .carouselBox .item-5,
  #sl6:checked ~ .carouselBox .item-6,
  #sl7:checked ~ .carouselBox .item-7,
  #sl8:checked ~ .carouselBox .item-8,
  #sl9:checked ~ .carouselBox .item-9,
  #sl0:checked ~ .carouselBox .item-10,
  #sl1:checked ~ .carouselBox .item-11 {
    display: flex;
  }
  #sl1:checked ~ .controls label:nth-of-type(1),
  #sl2:checked ~ .controls label:nth-of-type(2),
  #sl3:checked ~ .controls label:nth-of-type(3),
  #sl4:checked ~ .controls label:nth-of-type(4),
  #sl5:checked ~ .controls label:nth-of-type(5),
  #sl6:checked ~ .controls label:nth-of-type(6),
  #sl7:checked ~ .controls label:nth-of-type(7),
  #sl8:checked ~ .controls label:nth-of-type(8),
  #sl9:checked ~ .controls label:nth-of-type(9),
  #sl10:checked ~ .controls label:nth-of-type(10),
  #sl11:checked ~ .controls label:nth-of-type(11) {
    background-color: $yellowe;
  }
  .controls {
    position: absolute;
    display: flex;
    bottom: 40px;
    width: 100%;
    padding: 0 15px;
    justify-content: center;
    flex-wrap: wrap;
    label {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $grey;
      font-size: 0;
      margin: 0 6px;
      display: block;
    }
  }
  .btn{
    width: 168px;
  }
  .carousel__text{
    width: 100%;
    text-align: center;
    margin: 30px 0;
    .boldText{
      line-height: 2.2;
      max-width: 160px;
      margin: auto;
    }
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url(assets/img/man.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  img{
    display: block;
    height: 100%;
  }
}

/* + accordionEl */
.accordionEl{
  input{
    display: none;
  }
  label{
    font-size: 12px;
    color: $black2;
    padding: 14px 15px 14px 0;
    width: 100%;
    display: block;
    line-height: 1;
    position: relative;
    border-top: 1px solid ;
    border-bottom: 1px solid;
    border-color: $grey2;
    &:before{
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      position: absolute;
      border-bottom: 2px solid $yellowe;
      border-left: 2px solid $yellowe;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(-45deg);
    }
  }
  input:checked ~ label:before{
    transform: rotate(135deg);
    border-color: $grey2;
  }
  input:checked ~ .accordionEl-c{
    display: flex;

  }
  .accordionEl-c{
    padding: 11px 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    .btn.clean{
      width: 88px;
    }
  }
}
/* - accordionEl */

/* + labelEl-wrap */
.labelEl-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid ;
  border-bottom: 1px solid;
  border-color: $grey2;
  padding: 13px 0;
  margin-bottom: -1px;
  .labelEl{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }
}
/* - labelEl-wrap */