
p{
  line-height: 1.9;
  margin: 0;
  color: $black3;
}
.blackTitle{
  font-family: $f5;
  font-size: 80px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: $black3;
}
.largeTitle{
  font-family: $f4;
  font-size: 80px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: $black3;
}
.mediumTitle{
  font-family: $f5;
  font-size: 36px;
  text-transform: uppercase;
}
.title{
  font-size: 16px;
  font-family: $f3;
  color: $black3;
}
.titleLg{
  font-size: 16px;
}
.titleLn{
  background-color: #fff;
  font-size: 16px;
  padding: 14px 15px;
  &.bold{
    font-family: $f3;
  }
}
.goldText{
  font-size: 12px;
  color: $yellowe;
  opacity: 0.5;
}
.minText{
  font-size: 12px;
  color: $black2;
}
.minBold{
  font-family: $f2;
  font-weight: bold;
  font-size: 12px;
  color: $black2;
}
.boldText{
  font-size: 14px;
  font-family: $f3;
}
.link{
  font-size: 14px;
  color: $black2;
}
.greyText{
  font-size: 12px;
  color: $grey2;
}
.textInfo{
  padding: 20px 15px;
  font-size: 12px;
  line-height: 2.2;
  display: block;
}
.sosText {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: $f5;
  color: $black2;
  text-transform: uppercase;
}