.ic{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.money-ic{
  background-image: url("assets/img/money-ic.svg");
}
.photo-ic{
  background-image: url("assets/img/photo-ic.svg");
}
.hand-ic
{background-image: url("assets/img/hand-ic.svg");
}