.inputBox{
  background-color: #fff;
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15px;
  align-items: center;
  p{
    display: none;
    font-size: 12px;
    color: $grey2;
  }
  &:focus-within{
    p{
      display: block;
    }
    .input::placeholder{
      color: transparent;
      font-size: 12px;
    }
  }
  .input{
    width: 100%;
    font-size: 12px;
    border: 0;
    padding: 0;
    color: $black3;
    font-family: $f1;
    &::placeholder{
      text-align: center;
      color: $grey2;
    }
  }


}
.textareaBox{
  .textarea{
    height: 80px;
    width: 100%;
    border: 0;
    padding: 8px 20px;
    font-size: 12px;
    font-family: $f1;
    &::placeholder{
      color: $grey2;
      font-size: 12px;
    }
  }
}