.checkbox{
  input{
    display: none;
    &:checked ~ label{
      span.box:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        background-color: $yellowe;
      }
    }
  }
  label{
    span{
      display: inline-block;
      vertical-align: middle;
      &.box{
        width: 18px;
        height: 18px;
        margin-right: 12px;
        background-color: #fff;
        position: relative;
      }
      &.text{
        max-width: calc(100% - 35px);
      }
    }
  }
}

.checkbox-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  &.active{
    .checkbox-sl  label span{
      left: auto;
      right: 0;
      background-color: $yellowe;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
  > p{
    font-size: 14px;
    max-width: calc(100% - 70px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .checkbox-sl{
    position: relative;
    input{
      height: 100%;
      position: absolute;
      z-index: 1;
      width: 100%;
      opacity: 0;
      &:checked ~ label span{
        left: auto;
        right: 0;
        background-color: $yellowe;
      }
    }
    label{
      width: 60px;
      height: 23px;
      background-color: $grey;
      position: relative;
      display: block;
      span{
        display: block;
        position: absolute;
        height: 100%;
        width: 17px;
        background-color: $black3;
        top: 0;
        left: 0;
        transition: $time;
      }
    }
  }
}