body{
  font-family: $f1;
  margin: 0;
  font-size: 14px;
  padding:0;
  color: $black3;
  background:#fff
}
*{
  box-sizing: border-box;
  outline: none;
  margin:0
}

button{
  outline: none;
  cursor: pointer;
}
img{
  width: 100%;
  border:0;vertical-align:middle
}
.static{
  padding: 25px 15px;
  p{
    font-size: 12px;
    line-height: 2.2;
  }
}
.fixBox{
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .minText{
    padding: 4px 0;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
      width: 50%;
    }
  }
}
hr{

}
.row{
  width: 100%;
  padding: 0 15px;
}
.flex1{
  display: flex;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex4{
  display: flex;
  align-items: center;
}
.flex5{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex6{
  display: flex;
  flex-wrap: wrap;
}
.block{
  display: block;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.relative{
  position: relative;
}
.m0{
  margin: 0;
}

/* + line height */
.lh2{
  line-height: 2.2;
}


/* - line height */
