<app-header></app-header>

<div class="help-answer-pages">
    <div class="blockIn indent">
        <div class="static">
            <p>Как сделать заказ</p><br>
            <p>Оформить заказ могут только зарегистри- рованные пользователи. Войдите в Личный кабинет под своим
                логином
                или
                зарегистрируйтесь, если Вы у нас впервые. Регистрация займет не более 2 минут.</p>
        </div>
    </div>
    <div class="fixBox">
        <p class="minText center">Полезен ли ответ на Ваш вопрос?</p>
        <div class="flex">
            <button class="btn grey">Нет</button>
            <button class="btn">Да</button>
        </div>
    </div>
</div>
