<app-modal-order *ngIf="oS.Order&&oS.Order.status==1"></app-modal-order>
<audio src="assets/blink.mp3" ></audio>
<div *ngIf="!dataService.ready">
  CONNECT

</div>

<app-login *ngIf="dataService.user&&dataService.user.auth==false"></app-login>
<router-outlet *ngIf="dataService.user.auth==true"></router-outlet>
<div [ngStyle]="{'background-color':'white','height':'95%'}">
<!--<div [ngStyle]="{'background-color':'white','height':(oS.Order?'30%':'98%')}">-->

</div>
<!--<app-modal-order *ngIf="orderService.Order&&orderService.Order.status==1"></app-modal-order>-->

