<style>

     *,
     :before,
     :after {
       box-sizing: border-box;
     }

  body {
    background: #424242;
  }

  .form {
    width: 320px;
    margin: 45px auto;
  }
  .form h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #f3e55a;
  }
  .form h5 {
    text-align: center;
    text-transform: uppercase;
    color: #c6c6c6;
  }
  .form hr.sep {
    background: #f3e55a;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .form .emoji {
    font-size: 1.2em;
  }

  .group {
    position: relative;
    margin: 45px 0;
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
  input:focus ~ label, input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #f3e55a;
  }
  input:focus ~ .bar:before,
  textarea:focus ~ .bar:before {
    width: 320px;
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 320px;
  }
  .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #f3e55a;
    transition: 300ms ease all;
    left: 0%;
  }

  .btn {
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .btn:hover {
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  .btn.btn-link {
    background: #f3e55a;
    color: #000000;
  }
  .btn.btn-link:hover {
    background: #f3e55a;
    color: #deeffd;
  }
  .btn.btn-submit {
    background: #f3e55a;
    color: #000000;
  }
  .btn.btn-submit:hover {
    background: #f3e55a;
    color: #deeffd;
  }
  .btn.btn-cancel {
    background: #eee;
  }
  .btn.btn-cancel:hover {
    background: #e1e1e1;
    color: #8b8b8b;
  }

  .btn-box {
    text-align: center;
    margin: 50px 0;
  }


</style>
<!--<div class="log_in_madal column_centr">-->
  <!--<div class="top-login">-->
    <!--<div class="doorway_weble_text">-->
      <!--<h6>Войти</h6>-->
    <!--</div>-->
    <!--<div class="doorway_input_block">-->
      <!--<div class="doorway_input_mail mb56">-->
        <!--<div class="input-text">Имя Фамилия</div>-->
        <!--<input class="doorway_input" [(ngModel)]='name'  placeholder="Имя Фамилия" type="text">-->
      <!--</div>-->
      <!--<div class="doorway_input_mail mb56">-->
        <!--<div class="input-text">Номер телефона</div>-->
        <!--<input class="doorway_input" [(ngModel)]='phone'  placeholder="Номер телефона" type="text">-->
      <!--</div>-->
      <!--<div class="doorway_input_mail mb56">-->
        <!--<div class="input-text">Номер авто</div>-->
        <!--<input class="doorway_input" [(ngModel)]='numberAvto'  placeholder="Номер авто" type="text">-->
      <!--</div>-->
      <!--<div class="doorway_input_mail mb56">-->
        <!--<div class="input-text">Марка авто</div>-->
        <!--<input class="doorway_input" [(ngModel)]='markAvto'  placeholder="Марка авто" type="text">-->
      <!--</div>-->
      <!--<div class="doorway_input_mail mb56">-->
        <!--<div class="input-text">Номер водительского</div>-->
        <!--<input class="doorway_input" [(ngModel)]='numberDriver'  placeholder="Номер водительского" type="text">-->
      <!--</div>-->
      <!--<div  style="text-align: left" *ngIf="dataService.OPTIONS">-->

       <!--<p *ngFor="let t of ObjectKeys(dataService.OPTIONS.typeAvto);let i=index">-->
         <!--<input [(ngModel)]='typeAvto' [value]="t" id="typeAvto_{{i+1}}" type="radio" name="radio"/>-->
         <!--<label for="typeAvto_{{i+1}}">{{dataService.OPTIONS.typeAvto[t].name}}</label>-->
       <!--</p>-->



        <!--&lt;!&ndash;<input class="doorway_input" [(ngModel)]='typeAvto'  type="radio">&ndash;&gt;-->
        <!--&lt;!&ndash;<input class="doorway_input" [(ngModel)]='typeAvto'  placeholder="Номер водительского" type="radio">&ndash;&gt;-->
        <!--&lt;!&ndash;<input class="doorway_input" [(ngModel)]='typeAvto'  placeholder="Номер водительского" type="radio">&ndash;&gt;-->
        <!--&lt;!&ndash;<input class="doorway_input" [(ngModel)]='typeAvto'  placeholder="Номер водительского" type="radio">&ndash;&gt;-->
        <!--&lt;!&ndash;<input class="doorway_input" [(ngModel)]='typeAvto'  placeholder="Номер водительского" type="radio">&ndash;&gt;-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="bottom-login">-->

    <!--<div class="perent_enter_weble">-->
      <!--<input class="input_enter_weble" value="Войти/зарегистрироваться" type="button" (click)="login()">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<a class="posit_arrow" href="#" (click)="Freg=false;Fremind = false;Flogin=true;"><span class="arrow_exit"></span></a>-->
<!--<div class="log_in_madal column_centr">-->

<!--<doorwaass="top-login">-->
<!--<div class="doorway_weble_icon"></div>-->
<!--<div class="doorway_weble_text">-->
<!--<h6>Войти</h6>-->
<!--</div>-->
<!--<div class="doorway_input_block">-->
<!--<div class="doorway_input_mail mb56">-->
<!--<div class="input-text">E-mail</div>-->
<!--<input class="doorway_input" [(ngModel)]='email' value="severomorets@mail.ru" placeholder="E-mail"-->
<!--type="text">-->
<!--</div>-->
<!--<div class="doorway_input_mail">-->
<!--<div class="input-text">Пароль</div>-->
<!--<input class="doorway_input" [(ngModel)]='pass' value="123456" placeholder="Пароль" type="password">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bottom-login">-->
<!--<div class="create_recovery center_edges">-->
<!--<div class="create_account">-->
<!--<a class="create_account_link" href="#" [routerLink]="['/register']">Создать аккаунт</a>-->
<!--</div>-->
<!--<div class="create_line"></div>-->
<!--<div class="create_account forgot_password">-->
<!--<a class="create_account_link" href="#" [routerLink]="['/remind']">Забыли пароль?</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="perent_enter_weble">-->
<!--<input class="input_enter_weble" value="Войти" type="button" (click)="login()">-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<div class="wrapper">
  <div class="form">
    <h1>Need car</h1>
    <h5>Компания NeedCar, наша цель - объединить весь частный коммерческий транспорт, для систематизации и автоматизации грузоперевозок.</h5>
    <div class="btn-box"><a class="btn btn-link" href="https://ya.ru" target="_blank">перейти на сайт</a></div>
    <hr class="sep"/>
    <div class="group">
      <input type="text" [(ngModel)]="name" /><span class="highlight"></span><span class="bar"></span>
      <label>Имя Фамилия</label>
    </div>
    <div class="group">
      <input type="text" [(ngModel)]='phone'  /><span class="highlight"></span><span class="bar"></span>
      <label>Номер телефона</label>
    </div>
    <div class="group">
      <input type="text" [(ngModel)]='numberAvto' /><span class="highlight"></span><span class="bar"></span>
      <label>Номер авто</label>
    </div>
    <div class="group">
      <input type="text" [(ngModel)]='markAvto' /><span class="highlight"></span><span class="bar"></span>
      <label>Марка авто</label>
    </div>
    <div class="group">
      <input type="text" [(ngModel)]='numberDriver' /><span class="highlight"></span><span class="bar"></span>
      <label>Номер водительского</label>
    </div>
    <div class="group" *ngIf="dataService.OPTIONS">
      <div *ngFor="let t of ObjectKeys(dataService.OPTIONS.typeAvto);let i=index">
        <input [(ngModel)]='typeAvto' [value]="t" id="typeAvto_{{i+1}}" type="radio" name="radio" style="margin: 0px 0px 0px -20px"/>
        <label  style="color: #fff;position: relative;margin: -5px 0px 0px 40px;font-size: 17px" for="typeAvto_{{i+1}}">{{dataService.OPTIONS.typeAvto[t].name}}</label>
      </div>
    </div>

    <!--<div class="group">-->
      <!--<textarea type="textarea" rows="5" required="required"></textarea><span class="highlight"></span><span class="bar"></span>-->
      <!--<label>Номер водительского</label>-->
    <!--</div>-->
    <div class="btn-box">
      <button class="btn btn-submit" type="button" (click)="login()">Войти</button>
      <!--<button class="btn btn-cancel" type="button">cancel</button>-->
      <h5>*testing application <span class="emoji">&#x1F609;</span></h5>
    </div>
  </div>
</div>


