<app-header></app-header>
<div class="questionPages">
    <div class="blockIn">
        <div class="inputBox-wrap mb0">
            <div class="inputBox">
                <p>Ваше имя</p>
                <input type="text" class="input" placeholder="Ваше имя">
            </div>
            <div class="textareaBox">
                <textarea class="textarea" placeholder="Сообщение"></textarea>
            </div>
        </div>
        <p class="textInfo">Нажимая кнопку “Отправить”,
            подтверждаю свое согласие на обработку персональных данных</p>
    </div>
    <button class="btn fix">Отправить</button>
</div>
