<app-header></app-header>
<div class="blockIn">
    <div class="profileBox">
        <div class="infoPb">
            <div class="infoPb-item">
                <p class="infoPb__text">Пикап</p>
            </div>
            <div class="infoPb-item">
                <p class="infoPb__text">ВАЗ 5678</p>
            </div>
            <div class="infoPb-item">
                <p class="infoPb__text">Красный</p>
            </div>
            <div class="infoPb-item">
                <p class="infoPb__text">465</p>
            </div>
        </div>
    </div>
</div>
<button class="btn fix">Редактировать</button>
