<app-header></app-header>
<div class="history-pages">
    <div class="calendar">Февраль</div>
    <div class="historyBox-wrap">
        <div [routerLink]="['/history-details']" class="historyBox">
            <div class="historyBox-h">
                <p class="minBold">12:45</p>
                <p class="minBold">150 км</p>
            </div>
            <div class="historyBox-c">
                <p class="text"><span class="point"></span>г. Воронеж, ул. Лермонтова, д. 89</p>
                <p class="text finish"><span class="point"></span>г. Рязань, ул. Гагарина, д. 45 </p>
            </div>
        </div>
        <div [routerLink]="['/history-details']" class="historyBox">
            <div class="historyBox-h">
                <p class="minBold">12:45</p>
                <p class="minBold">150 км</p>
            </div>
            <div class="historyBox-c">
                <p class="text"><span class="point"></span>г. Воронеж, ул. Лермонтова, д. 89</p>
                <p class="text"><span class="point"></span>г. Воронеж, ул. Лермонтова, д. 89</p>
                <p class="text"><span class="point"></span>г. Воронеж, ул. Лермонтова, д. 89 г. testtest test test test
                    test Воронеж, ул. Лермонтова, д. 89 г. Воронеж, ул. Лермонтова, д. 89</p>
                <p class="text finish"><span class="point"></span>г. Рязань, ул. Гагарина, д. 45 </p>
            </div>
        </div>
    </div>
</div>

