<app-header></app-header>
<div class="blockIn">
    <div class="profileBox">
        <div class="row">
            <div class="avatar"><img src="assets/img/man.svg" alt=""></div>
            <p class="titleLg center">Иван Сергеевич<br> Петров</p>
        </div>
        <div class="infoPb">
            <div class="infoPb-item">
                <p class="minText">E-mail</p>
                <p class="infoPb__text">e@mail.ru</p>
            </div>
            <div class="infoPb-item">
                <p class="minText">Телефон</p>
                <p class="infoPb__text">+7 (912) 123 45 56</p>
            </div>
        </div>
    </div>
</div>
<button class="btn fix">Редактировать</button>


