<app-header></app-header>
<div class="btnLine-menu">
    <a [routerLink]="['/feedback-question']" class="btnLine">Задать вопрос</a>
    <a [routerLink]="['/feedback-comment']" class="btnLine">Отзыв или предложение</a>
    <a [routerLink]="['/feedback-question-app']" class="btnLine">Вопрос по приложению</a>
</div>
