<app-header></app-header>
<div class="comment-pages">
    <div class="blockIn">
        <div class="inputBox-wrap mb0">
            <div class="inputBox">
                <p>E-mail</p>
                <input type="text" class="input" placeholder="E-mail">
            </div>
            <div class="inputBox">
                <p>Телефон</p>
                <input type="number" class="input" placeholder="Телефон">
            </div>
            <div class="inputBox">
                <p>Имя</p>
                <input type="text" class="input" placeholder="Имя">
            </div>
            <div class="textareaBox">
                <textarea class="textarea" placeholder="Вопрос"></textarea>
            </div>
        </div>
        <p class="textInfo">Нажимая кнопку “Отправить”, подтверждаю свое согласие на обработку персональных данных</p>
    </div>
    <button class="btn fix">Отправить</button>
</div>
