<app-header></app-header>
<div class="help-filter-pages">
    <div class="btnLine-menu">
        <p class="text">Грузоперевозки по городу</p>
        <a [routerLink]="['/help-answer']" class="btnLine">Как сделать заказ</a>
        <a [routerLink]="['/help-answer']" class="btnLine">Как отследить груз</a>
        <a [routerLink]="['/help-answer']" class="btnLine">Как получить груз</a>
        <a [routerLink]="['/help-answer']" class="btnLine">Как выбрать автомобиль</a>
    </div>
    <div class="btnLine-menu">
        <p class="text">Приложение</p>
        <a [routerLink]="['/help-answer']" class="btnLine">Как сделать заказ</a>
        <a [routerLink]="['/help-answer']" class="btnLine">Как отследить груз</a>
    </div>
</div>
