<app-header></app-header>

<div id="mapYa" style="width: 100vv;height: 100vh"></div>







<div class="pers_page_color" *ngIf="false" style="color: #000;">
  <div class="top-login">
    <div class="doorway_weble_text" *ngIf="dataService.user">
      <br>
      TEST GPS <a href="http://udm18.fvds.ru/app-debug.apk">скачать приложение</a>

      <!--<h6>{{dataService.user.name}}</h6>-->
      <!--<div>-->
      <!--&lt;!&ndash;{{dataService.user._id}}<br>&ndash;&gt;-->
      <!--{{dataService.user.avto}}<br>-->
      <!--{{dataService.user.number}}<br>-->
      <!--</div>-->
    </div>
    <div style="text-align: left;margin: 5px" >
      учитывать погрешность измерения в <input style="width: 35px" type="number" pattern="\d" oninput="value=parseInt(value);if(value.length>3)value=value.slice(0,3)"[(ngModel)]="dataService.step_error"> метров<br>
      считать сдвиг расстояния с <input  style="width: 35px"  type="number" pattern="\d" oninput="value=parseInt(value);if(value.length>3)value=value.slice(0,3)"  [(ngModel)]="dataService.step_way"> метров<br>

      координаты:{{dataService.GPS.lat}} {{dataService.GPS.lon}}<br>
      <!--точность измерения:{{dataService.LOGS.accuracy.toFixed(2)}} м.<br>-->
      пробег:{{dataService.startM}} м.<br>
      {{dataService.stayAvto?'машина стоит':'машина едет'}} <br>
      <hr>

      <h1 style="color: black">за километраж1 <b>{{dataService.startM}}</b></h1>

      <h1 style="color: black">за простой1 <b>{{dataService.stayM}}</b></h1>
      <div>из расчета 36р/км b 600р/час <br><h1 style="font-size: 40px;color: red">{{dataService.priceM}}</h1></div>





    </div>
    <!--<input matInput placeholder="lat" [(ngModel)]="GPSARRAY">-->
    <!--<input matInput placeholder="ACCR" [(ngModel)]="ACCR">-->

    <!--<button  (click)="sendGPS()" mat-flat-button color="warn">GPS</button>-->
    <div style="text-align: right;margin: 5px">
      <button (click)="dataService.startM = 0;dataService.priceM = 0;dataService.stayM = 0">сбросить счетчик</button>
      <!--<button  (click)="createInitOrder2()" mat-flat-button color="primary">ЗАКАЗ</button>-->
      <!--<button *ngIf="dataService.user.online" (click)="setStatusOnline(false)" mat-flat-button  style="background-color: green;color: white">на линии</button>-->
      <!--<button *ngIf="!dataService.user.online"(click)="setStatusOnline(true)" mat-flat-button style="background-color: #807880;color: white">не на линии</button>-->

    </div>

  </div>
</div>













    <div  *ngIf="oS.Order" style="color: white;padding: 20px">


            <div *ngIf="oS.Order.status==2" style="width: 100%">
              <h3 style="text-align: center; color: #f3e55a;">Место встречи с клиентом</h3>
              <div>
               Адрес:  {{getAddress(oS.Order.path[0].address)}}
              </div>
              <!--<div>-->
                <!--{{oS.Order.path[1].address}}-->
              <!--</div>-->
              <!--<p>{{oS.Order.priceStart}}</p>-->
              <div style="text-align: center;margin: 30px">
                <button class="btn_order" (click)="oS.readyTostartDrive()">Подъехал</button>
              </div>

            </div>

          <div *ngIf="oS.Order.status==3||oS.Order.status==4" style="width: 100%">
            <h3 style="text-align: center; color: #f3e55a;"> Выполнение заказа</h3>
            <h6> время в пути {{secToString(oS.Order.taxometr.time)}}<br>
              расстояние {{wayToKm(oS.Order.taxometr.way)}}<br>
              остановки {{secToString(oS.Order.taxometr.timeStay)}}</h6>
            <h3 *ngIf="oS.Order.tariff==1">Тариф Город</h3>
            <h3 *ngIf="oS.Order.tariff==2">Тариф за городом</h3>
            {{oS.stayAvto?'_':'*'}}
            <div>
              {{getAddress(oS.Order.path[1].address)}}
            </div>
            <!--<div>-->
              <!--Километраж {{oS.Order.taxometr.way}}-->
            <!--</div>-->
            <!--<div>-->
              <!--Простой {{oS.Order.taxometr.timeStay}}  {{oS.Order.taxometr.timeStay }}-->
            <!--</div>-->
            <div>
              <h1 style="text-align: center;font-size: 70px;color: red;text-shadow: 1px 0px 2px #FFFFFF">{{oS.Order.taxometr.price}}</h1>
            </div>

            <div style="text-align: center;margin: 30px">
              <button *ngIf="oS.Order.status==3" class="btn_order"(click)="oS.finishOrderDrive()">Выполнил Заказ</button>
              <button *ngIf="oS.Order.status==4" class="btn_order"(click)="oS.clearOrder();setStatusOnline(true)">Начать поиск заказа</button>
            </div>

          </div>

    </div>



