@font-face {
  font-family: 'OpenSans-Regular';
  src: url('assets/font/OpenSans-Regular.eot');
  src: url('assets/font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/font/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
  url('assets/font/OpenSans-Regular.ttf') format('truetype'),
  url('assets/font/OpenSans-Regular.woff') format('woff'),
  url('assets/font/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('assets/font/OpenSans-SemiBold.eot');
  src: url('assets/font/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg'),
  url('assets/font/OpenSans-SemiBold.ttf') format('truetype'),
  url('assets/font/OpenSans-SemiBold.woff') format('woff'),
  url('assets/font/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('assets/font/OpenSans-Bold.eot');
  src: url('assets/font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
  url('assets/font/OpenSans-Bold.ttf') format('truetype'),
  url('assets/font/OpenSans-Bold.woff') format('woff'),
  url('assets/font/OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/font/Montserrat-Bold.eot');
  src: url('assets/font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  url('assets/font/Montserrat-Bold.ttf') format('truetype'),
  url('assets/font/Montserrat-Bold.woff') format('woff'),
  url('assets/font/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('assets/font/Montserrat-Black.eot');
  src: url('assets/font/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Montserrat-Black.svg#Montserrat-Black') format('svg'),
  url('assets/font/Montserrat-Black.ttf') format('truetype'),
  url('assets/font/Montserrat-Black.woff') format('woff'),
  url('assets/font/Montserrat-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$f1: 'OpenSans-Regular';
$f2: 'OpenSans-SemiBold';
$f3: 'OpenSans-Bold';
$f4: 'Montserrat-Bold';
$f5: 'Montserrat-Black';
$time: 0.5s;

$red: #EB5757;
$yellowe: #F3B63B;
$yellowe2: #F2C94C;

$black: #4A4A4A;
$black2: #4F4E5D;
$black3: #333333;

$border: #F2F2F2;

$grey: #F4F4F6;
$grey1: #F4F4F6;
$grey2: #C4C4C4;
$grey3: #95959e;

$shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);

@import 'assets/sass/import-scss/reset';
@import 'assets/sass/import-scss/grid';
@import 'assets/sass/import-scss/button';
@import 'assets/sass/import-scss/font';
@import 'assets/sass/import-scss/element';
@import 'assets/sass/import-scss/ic';
@import 'assets/sass/import-scss/svg';
@import 'assets/sass/import-scss/input';
@import 'assets/sass/import-scss/radio';
@import 'assets/sass/import-scss/select';
@import 'assets/sass/import-scss/table';
@import 'assets/sass/import-scss/popup';
/* +++ operator */

/* + header */
.header {
  height: 60px;
  .row {
    background-color: $black2;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  .title-h {
    font-size: 16px;
    color: #fff;
    line-height: 1;
    font-family: $f3;
  }
  .left-h, .right-h {
    width: 60px;
  }
}

/* - header */

/* + load pages */
.loadLogo {
  background-image: url("assets/img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-size: 173px;
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  animation: loader 1s ease;
}

@keyframes loader {
  0% {
    background-position: 20% center;
  }
  10% {
    background-position: 25% center;
  }
  100% {
    background-position: center;
  }
}

.circleIcon {
  width: 140px;
  height: 140px;
  background-color: $grey;
  border-radius: 100%;
  position: relative;
  margin: auto;
  .ic {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }
}

.locationPanel {
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    height: 100vh;
  }
  .btn {
    display: block;
    width: 168px;
    margin: 0 auto;
  }
  .location__btn {
    text-align: center;
  }
  .location__text {
    height: 190px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    text-align: center;
  }
}

.loginPanel {
  .lpText {
    height: 250px;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    a {
      display: inline-block;
    }
  }
}

.inputBox-wrap {
  &.indent0 {
    margin: 0;
  }
  &.mb0 {
    margin-bottom: 0;
  }
  margin: 20px 0;
  padding: 15px;
  background-color: $grey;
  .inputBox {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fillForm {
  .btn {
    display: block;
    width: 168px;
    margin: 0 auto;
  }
  .btn.fix {
    width: 100%;
  }
  .title {
    height: 190px;
    margin-bottom: 70px;
    text-align: center;
    &.ha {
      height: auto;
      margin-bottom: 20px;
    }
  }
  .titleLn {
    margin-top: -20px;
    &.indentTop {
      margin-top: 0;
    }
  }
  .checkbox-wrap {
    background-color: $grey;
    padding: 5px 0;
  }
  .checkbox {
    padding: 10px 0;
  }
  .checkbox-section {
    padding-top: 25px;
    .title {
      text-align: left;
    }
  }
}

.resultFill-wrap {
  display: flex;
  flex-wrap: wrap;
}

.resultFill-item {
  width: 50%;
  margin-bottom: 10px;
  .greyText {
    white-space: nowrap;
  }
  .text {
    line-height: 1.5;
    padding-right: 10px;
  }
}

.resultFill {
  padding-top: 30px;
}

.blockIn {
  padding-bottom: 50px;
  &.indent {
    padding-bottom: 80px;
  }
}

.flexPn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  height: 100vh;
  .abs {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    .btn {
      margin-bottom: 40px;
    }
  }
}

/* - load pages */

/* + menu */
.menu {
  padding: 20px 15px;
  height: calc(100vh - 60px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .linkMenu {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $black2;
    display: block;
    margin: 0 auto 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    &.ic1 {
      background-image: url("assets/img/menu-ic1.svg");
    }
    &.ic2 {
      background-image: url("assets/img/menu-ic2.svg");
    }
    &.ic3 {
      background-image: url("assets/img/menu-ic3.svg");
    }
    &.ic4 {
      background-image: url("assets/img/menu-ic4.svg");
    }
    &.ic5 {
      background-image: url("assets/img/menu-ic5.svg");
    }
    &.ic6 {
      background-image: url("assets/img/menu-ic6.svg");
    }
    &.ic7 {
      background-image: url("assets/img/menu-ic7.svg");
    }
    &.ic8 {
      background-image: url("assets/img/menu-ic8.svg");
    }
    &.ic9 {
      background-image: url("assets/img/menu-ic9.svg");
    }
    &.ic10 {
      background-image: url("assets/img/menu-ic10.svg");
    }
    &.ic11 {
      background-image: url("assets/img/menu-ic11.svg");
    }
    &.ic12 {
      background-image: url("assets/img/menu-ic12.svg");
    }
  }
  .linkMenu-col {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .linkMenu-wrap {
    width: 33.33%;
    text-align: center;
    > p {
      font-size: 12px;
      line-height: 1.3;
      height: 30px;
      max-width: 90px;
      margin: auto;
    }
  }
}

/* - menu */

/* + btnLine-menu */
.btnLine-menu {
  margin: 20px 0;
  .btnLine {
    display: block;
    background-color: $grey;
    font-size: 14px;
    line-height: 1;
    width: 100%;
    background-image: url("assets/img/minArr.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-size: 7px;
    padding: 18px 30px 18px 15px;
    text-decoration: none;
    color: $black3;
  }
  .text {
    padding: 0 15px 10px;
  }
}

/* - btnLine-menu */

/* + help-filter-pages */
.help-filter-pages {
  .btnLine-menu:last-child {
    margin-bottom: 0;
  }
}

/* - help-filter-pages */

/* + profileBox */
.profileBox {
  padding-top: 35px;
  .avatar {
    margin: 0 auto 25px;
    display: block;
  }
  .titleLg {
    margin-bottom: 20px;
  }
}

.infoPb {
  .infoPb-item {
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 60px;
  }
  .minText {
    position: absolute;
    left: 15px;
  }
}

/* - profileBox */

/* + photo-pages */
.photo-pages {

}

.flexText {
  padding: 25px 15px;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.take-photos {

}

.carBox {
  padding: 25px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 110px);
  margin-bottom: 50px;
}

.galleryImg {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  img {
    width: calc(50% - 7px);
    height: auto;
    margin-bottom: 14px;
  }
}

/* - photo-pages */

/* + history */
.historyBox {
  background-color: $grey;
  padding: 15px 15px;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  .historyBox-h {
    display: flex;
    align-items: center;

    .minBold {
      width: 100px;
      font-family: $f3;
    }
  }
  .historyBox-c {
    .text {
      font-size: 10px;
      position: relative;
      padding: 5px 0 5px 20px;
      &.finish{
        .point{
          border-color: $yellowe;
        }
      }
      &:first-child {
        &:after {
          display: none;
        }
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
      &:before {
        content: '';
        position: absolute;
        height: 50%;
        width: 1px;
        background: $black3;
        left: 4px;
        bottom: 0;
        z-index: 1;
      }
      &:after {
        content: '';
        position: absolute;
        height: 50%;
        width: 1px;
        background: $black3;
        left: 4px;
        top: 0;
        z-index: 1;
      }
      .point {
        width: 9px;
        height: 9px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid $black3;
        border-radius: 100%;
        box-sizing: border-box;
        background-color: $grey;
        z-index: 2;

      }
    }
  }
}

/* - history */

/* + history details */
.order-h{
  padding: 15px 0;
  .minText{
    border-bottom: 1px solid $grey2;
    padding: 0 0 10px;
    margin-bottom: 20px;
  }
  .title{
    font-family: $f2;
  }
}
.tripDetail{
  margin-bottom: 25px;
  &:last-child{
    margin-bottom: 0;
  }
}
.tripDetail-item{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding-left: 20px;
  padding-bottom: 15px;
  &.finish, &:last-child{
    .tripDetail-l:before{
      background-color: $yellowe;
    }
  }
  &:last-child{
    padding-bottom: 0;
    &:before{
      display: none;
    }
  }
  &:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: $black3;
    display: block;
    left: 4px;
    z-index: -1;
    top: 10px;
  }

  .text{
    font-size: 12px;
    color: $black3;
        line-height: 1.6;
    &.grey{
      color: $black2;
    }
  }
  .minText{
    font-size: 10px;
    color: $black2;
        line-height: 1.6;
  }
}
.tripDetail-l{
  width: 55%;
  padding-right: 4%;
  &:before{
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    left: 0;
    top: 6px;
    margin: auto;
    border: 1px solid $black3;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 2;
    display: block;
  }
}
.tripDetail-r{
  width: 45%;
  text-align: right;
}
/* - history details */

/* + chat */
.checkbox-wrap{

}
.chatBox{
  height: calc(100vh - 110px);
  overflow: auto;
  padding: 0 15px 15px;
  .scroll{
    height: auto;
  }

  .letter-l, .letter-r{
    padding: 10px;
    width: 75%;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
  }
  .letter-l {
    background-color: #DBDBDB;
    margin-left: 0;
    margin-right: auto;
    border-bottom-left-radius: 0;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      right: 100%;
      width: 0;
      height: 0;
      border-bottom: 5px solid #DBDBDB;
      border-left: 5px solid transparent;
    }
  }
  .letter-r{
    background-color: #F4F4F6;
    margin-left: auto;
    margin-right: 0;
    border-bottom-right-radius: 0;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-bottom: 5px solid #F4F4F6;
      border-right: 5px solid transparent;
    }
  }
  .chatBox__data{
    margin: 20px 0 10px;
    text-align: center;
  }
}
.chatEnter{
  background-color: $grey;
  padding: 10px 15px;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  textarea{
    width: calc(100% - 35px);
    //height: 100%;
    border: 0;
    background-color: transparent;
    display: block;
    resize: none;
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 10px;
    padding-right: 0;
    font-family: $f1;
    min-height: 30px;
    max-height: 150px;
  }
  button{
    background-image: url("assets/img/enter.svg");
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    padding: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
    border: 0;
    background-color: transparent;
  }
}
/* - chat */

/* + statistics-pages */
.statistics-pages {
  padding-top: 20px;
}
.balancePanel{
  display: block;
  margin-bottom: 40px;
  .title{
    font-family: $f1;
    margin-bottom: 10px;
    display: block;
  }
  .text{
    max-width: 181px;
    margin: auto;
    font-size: 12px;
  }
}
.infoSp{
  .infoSp-item{
    padding: 10px 0;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;

    .minBold{
      font-family: $f3;
      font-family: "Roboto";
    }

  }
}
/* - statistics-pages */






