<app-header></app-header>
<div class="blockIn fillForm">
    <div class="checkbox-section">
        <div class="row">
            <div class="title ha">Тарифы</div>
            <div class="checkbox-item">
                <p>Пикап</p>
                <div class="checkbox-sl">
                    <input id="sl1" type="checkbox">
                    <label for="sl1"><span></span></label>
                </div>
            </div>
        </div>
    </div>
</div>
