<app-header></app-header>
<div class="menu">
  <div class="linkMenu-col">
    <div class="linkMenu-wrap">
      <a [routerLink]="['/']" class="linkMenu ic1"></a>
      <p>Заказы</p>
    </div>
    <div class="linkMenu-wrap">
      <a [routerLink]="['/statistics']" class="linkMenu ic2"></a>
      <p>Статистика</p>
    </div>
    <div class="linkMenu-wrap">
      <a [routerLink]="['/questionnaire']" class="linkMenu ic3"></a>
      <p>Анкета</p>
    </div>
  </div>
  <div class="linkMenu-col">
    <div class="linkMenu-wrap">
      <a [routerLink]="['/photo-control']" class="linkMenu ic4"></a>
      <p>Фотоконтроль</p>
    </div>
    <div class="linkMenu-wrap">
      <a [routerLink]="['/history']" class="linkMenu ic5"></a>
      <p>История</p>
    </div>
    <div class="linkMenu-wrap">
      <a [routerLink]="['/sos']" class="linkMenu ic6"></a>
      <p>Тревога</p>
    </div>
  </div>
  <div class="linkMenu-col">
    <div class="linkMenu-wrap">
      <a [routerLink]="['/chat']" class="linkMenu ic7"></a>
      <p>Уведомления</p>
    </div>
    <div class="linkMenu-wrap">
      <a class="linkMenu ic8"></a>
      <p>Центральная касса</p>
    </div>
    <div class="linkMenu-wrap">
      <a [routerLink]="['/help']" class="linkMenu ic9"></a>
      <p>Служба поддержки</p>
    </div>
  </div>
  <div class="linkMenu-col">
    <div class="linkMenu-wrap">
      <a [routerLink]="['/feedback']" class="linkMenu ic10"></a>
      <p>Обратная связь</p>
    </div>
    <div class="linkMenu-wrap">
      <a [routerLink]="['/information']" class="linkMenu ic11"></a>
      <p>Информация</p>
    </div>
    <div class="linkMenu-wrap">
      <a class="linkMenu ic12"></a>
      <p>Выход</p>
    </div>
  </div>
</div>

