<app-header></app-header>
<div class="static">
    <br>
    <p>Преданные пользователи мобильного приложения могут не только рассказать о всех преимуществах,
        возможностях и недостатках вашего приложения, но и, конечно, рекомендовать его другим поль- зователям. Мы все
        прислушиваемся к мнению наших друзей, и, соответственно, с очень большой вероятностью попробуем установить мобильное
        приложение, которое нам порекомендует наш друг и знакомый.</p>
    <br><br>
    <p>Рекомендации сами по себе хороши, но как подтолкнуть
        пользователя отправить рекомендацию? Почему именно пригла- шающий пользователь должен рекомен- довать
        приложение?</p>
</div>
