<app-header></app-header>
<div class="statistics-pages">
    <div class="row">
        <div class="balancePanel center">
            <p class="goldText">Баланс</p>
            <p class="title">0 руб.</p>
            <p class="text">Пополните свой баланс, чтобы начать работу. Минимальная сумма 1000 руб.</p>
        </div>
        <div class="infoSp">
            <div class="infoSp-item">
                <p class="minText">Пробег</p>
                <p class="minBold">0 км</p>
            </div>
            <div class="infoSp-item">
                <p class="minText">Количество заказов</p>
                <p class="minBold">0</p>
            </div>
            <div class="infoSp-item">
                <p class="minText">Общая сумма</p>
                <p class="minBold">0 руб.</p>
            </div>
            <div class="infoSp-item">
                <p class="minText">Информационные услуги</p>
                <p class="minBold">0 руб.</p>
            </div>
        </div>
    </div>
</div>
